/*********************
* Color
*********************/
.bg-color--keycolor {
  background-color: #ff8989;
}
.bg-color--subcolor {
  background-color: #fff;
}
.bg-color--gray {
  background-color: #fffacd;
}
